/* DEFAULT FONTS - feel free to add any other variables you need here */

:root {
  /* Default font for headlines, headings, bylines, etc. */
  --hed-font-default: "Barlow", sans-serif;
  /* Font used for headlines if print design uses serif font */
  --hed-font-serif: "Faustina", serif;
  /* Default font for body text */
  --body-font: "PT Serif", serif;
}
body {
  background-color: #211b23;
}

.mag-navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7vh;
  background-color: #342f2e;
  padding: 1vh 0;
  box-shadow: 1px 2px 1px;
}
.nbn-logo-nav {
  margin-left: 1vw;
  height: 100%;
}
.nbn-path {
  fill: white;
  transition: fill 1s ease;
}
.homepage-link:hover .nbn-path {
  fill: #b6acd1;
}

/* HED, DEK, BYLINE - feel free to play with this! */

.article-top-content {
  margin-top: 15vh;
  text-align: center;
  color: #ffffff;
}
.article-hed {
  /* replace "default" with "serif" if article uses a serif font in the hed */
  font-family: var(--hed-font-default);
  font-size: 4.5em;
  margin-bottom: 0;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.article-dek {
  font-family: var(--hed-font-default);
  margin-top: 0;
  font-size: 2em;
  margin-bottom: 0;
  font-weight: 500;
}
.article-byline {
  font-family: var(--hed-font-default);
  font-weight: 400;
  margin-top: 0.5em;
  font-size: 1.5em;
}
.byline-link {
  color: white;
  transition: color 1s ease;
}
.byline-link:hover {
  color: #4e2a84;
}

/* IMAGES PLACING */

.player-1 {
  position: absolute;
  top: 30vh;
  left: -3vw;
  z-index: 0;
  width: 40%;
  height: auto;
}
.player-2 {
  position: absolute;
  top: 150vh;
  right: -50vw;
  z-index: 0;
  width: 100%;
  height: auto;
}
.player-3 {
  position: absolute;
  top: 20vh;
  right: -6vw;
  z-index: 0;
  width: 40%;
  height: auto;
}
.player-4 {
  position: absolute;
  top: 250vh;
  left: -17vw;
  z-index: 0;
  width: 50%;
  height: auto;
}
.arrow-1 {
  position: absolute;
  top: 106vh;
  right: 0vw;
  z-index: 0;
  width: 30%;
  height: auto;
}
.arrow-2 {
  position: absolute;
  top: 329vh;
  left: -1vw;
  z-index: 0;
  width: 30%;
  height: auto;
}
.arrow-3 {
  position: absolute;
  top: -20vh;
  right: 10vh;
  z-index: -1;
  width: 60%;
  height: auto;
  opacity: 0.2;
}

/* ARTICLE BODY - customize however you want! */

.article-body {
  font-family: var(--body-font);
  width: 40vw;
  margin: auto;
  font-size: 1.2em;
  color: #a8a7a7;
}
.article-body p {
  margin-bottom: 2em;
}
.player-1,
.player-2,
.player-3,
.player-4,
.arrow-1,
.arrow-2,
.arrow-3 {
  z-index: -1;
}
/* CREDITS - shouldn't need to change anything! */

.article-credits {
  text-align: center;
  font-family: var(--hed-font-default);
  color: #ffffff;
}
.credits-heading {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.credits-subhed {
  margin-top: 0;
  margin-bottom: 0;
}
.credits-item {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: 400;
}
.credits-link {
  margin-top: 1.5em;
}
.credits-link a {
  color: white;
  transition: color 1s ease;
}
.credits-link a:hover {
  color: #4e2a84;
}

/* MOBILE STYLING - add any mobile specific CSS here but please leave navbar styling as is!*/

@media screen and (max-width: 700px) {
  .mag-navbar {
    height: 5vh;
  }
  .article-hed {
    font-size: 3em;
  }
  .article-dek {
    font-size: 1.5em;
  }
  .article-byline {
    font-size: 1em;
  }
  .article-body {
    width: 90vw;
  }
  .player-1,
  .player-2,
  .player-3,
  .player-4,
  .arrow-1,
  .arrow-2,
  .arrow-3 {
    opacity: 0.3;
  }
}
