/* DEFAULT FONTS - feel free to add any other variables you need here */

html,
body {
  margin: 0;
}
:root {
  /* Default font for headlines, headings, bylines, etc. */
  --hed-font-default: "Rowdies", cursive;
  --body-font-default: "Noto Sans JP", sans-serif;
  --body-font-serif: "Bree Serif", serif;
}

.mag-navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7vh;
  padding: 1vh 0;
}
.nbn-logo-nav {
  margin-left: 1vw;
  height: 100%;
}
.nbn-path {
  fill: #2d5355;
  transition: fill 1s ease;
}
.homepage-link:hover .nbn-path {
  fill: #b6acd1;
}

/* for modal stylign */
@keyframes modalFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show-modal {
  margin: auto;
  display: block;
  padding: 15px;
}
.close-modal {
  position: absolute;
  top: 0rem;
  right: 3rem;
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin: 10px;
  color: white;
  background-color: #b02a2a;
  border: none;
  cursor: pointer;
}
.hidden {
  display: none;
}

.modal {
  animation-name: modalFade;
  animation-duration: 0.5s;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  padding: 6rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #2d5355;
}
.modal img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

h1 {
  font-family: var(--hed-font-default);
  text-align: center;
  font-size: 4em;
  color: #c64242;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2 {
  font-size: 3em;
  text-align: center;
}
body {
  background-color: #dbebf0;
}
.content {
  margin-top: 100px;
}
.moviemarquee {
  width: 75%;
  display: block;
  margin: auto;
  background: #fffde8;
  border: 40px solid #b02a2a;
  font-family: var(--body-font-serif);
  word-wrap: break-word;
}
hr {
  border: 0;
  border-top: 3px solid #75bec2;
}
.sectionheading {
  color: #2d5355;
  font-family: var(--hed-font-default);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3em;
  margin-top: 100px;
}
.sectioncontent {
  width: 65%;
  display: block;
  margin: auto;
  background: #fffde8;
  border: 30px solid #75bec2;
  font-family: var(--body-font-serif);
}
.story {
  margin: 5%;
  text-align: center;
  transition: text-shadow 0.5s ease;
  transition: color 0.5s ease;
}
.story:hover {
  cursor: pointer;
  color: #2d5355;
  text-shadow: 1px 1px #75bec2;
}
.story-dek,
.story-author {
  font-family: var(--body-font-default);
  font-size: 1.2em;
}
.story-dek {
  font-weight: 400;
}
.story-author {
  font-weight: bold;
}
.flex-grid {
  display: flex;
}
.flex-grid img {
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: 0 5px 10px gray;
  transition: transform 0.5s ease;
}
.flex-grid img:hover {
  transform: scale(1.1);
}
.col {
  flex: 1;
}
h3 {
  font-size: 2em;
}
@media (max-width: 800px) {
  .flex-grid {
    flex-direction: column;
  }
  .flex-grid img {
    width: 50%;
    margin-bottom: 50px;
  }
  .modal img {
    width: 100%;
  }
  .modal {
    width: 100%;
  }
}
