/* DEFAULT FONTS - feel free to add any other variables you need here */

:root {
  /* Default font for headlines, headings, bylines, etc. */
  --hed-font-default: "Barlow", sans-serif;
  /* Font used for headlines if print design uses serif font */
  --hed-font-serif: "Faustina", serif;
  /* Default font for body text */
  --body-font: "PT Serif", serif;
}

.mag-navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7vh;
  background-color: #342f2e;
  padding: 1vh 0;
  box-shadow: 1px 2px 1px;
  z-index: 1;
}
.nbn-logo-nav {
  margin-left: 1vw;
  height: 100%;
}
.nbn-path {
  fill: white;
  transition: fill 1s ease;
}
.homepage-link:hover .nbn-path {
  fill: #b6acd1;
}

/* HED, DEK, BYLINE - feel free to play with this! */

.article-top-content {
  margin-top: 15vh;
  text-align: center;
}
.article-hed {
  /* replace "default" with "serif" if article uses a serif font in the hed */
  font-family: var(--hed-font-default);
  font-size: 4em;
  margin-bottom: 0;
  color: #af6c70;
}
.article-dek {
  font-family: var(--hed-font-default);
  margin-top: 0;
  font-size: 2em;
  margin-bottom: 0;
  font-weight: 500;
  color: #af6c70;
}
.article-byline {
  font-family: var(--hed-font-default);
  font-weight: 400;
  margin-top: 0.5em;
  font-size: 1.5em;
  color: #af6c70;
}
.byline-link {
  color: black;
  transition: color 1s ease;
}
.byline-link:hover {
  color: #4e2a84;
}
strong {
  color: #af6c70;
}
a {
  text-decoration-color: #af6c70;
}
.center {
  position: absolute;
  top: 9vh;
  width: 90vw;
  transform: rotate(2deg);
  animation: mymove 3s infinite;
}
.sidebar-image {
  position: absolute;
  width: 20vw;
  text-align: center;
  font-family: var(--hed-font-default);
  color: var(--text-gray);
}
.sidebar-left {
  left: -24vw;
  transform: translate(0, -20vh);
}
.sidebar-left1 {
  left: 0;
  transform: translate(0, 20vh);
}
.sidebar-right {
  right: 0vw;
  padding-left: 10em;
  transform: translate(0, -10vh);
}
.sidebar-image img {
  width: 200%;

  /* animation: sway 4s ease-in-out infinite alternate; */
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ARTICLE BODY - customize however you want! */

body {
  background-color: #ffd7c5;
}

.article-body {
  font-family: var(--body-font);
  width: 60vw;
  margin: auto;
  font-size: 1.2em;
}
.article-body p {
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
}
@keyframes mymove {
  50% {
    transform: rotate(-2deg);
  }
}
.byline {
  margin-top: -20%;
  margin-right: 1%;
  text-align: right;
  font-size: 0.9em;
}

.mauve-box {
  background-color: rgba(175, 106, 110, 0.5);
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* CREDITS - shouldn't need to change anything! */

.article-credits {
  text-align: center;
  font-family: var(--hed-font-default);
  color: #af6c70;
}
.credits-heading {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.credits-subhed {
  margin-top: 0;
  margin-bottom: 0;
}
.credits-item {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: 400;
}
.credits-link {
  margin-top: 1.5em;
}
.credits-link a {
  color: #af6c70;
  transition: color 1s ease;
}
.credits-link a:hover {
  color: #4e2a84;
}

/* MOBILE STYLING - add any mobile specific CSS here but please leave navbar styling as is!*/

@media screen and (max-width: 700px) {
  .mag-navbar {
    height: 5vh;
  }
  .article-hed {
    font-size: 3em;
  }
  .article-dek {
    font-size: 1.5em;
  }
  .article-byline {
    font-size: 1em;
  }
  .article-body {
    width: 90vw;
  }
  body img {
    top: 7.5vh;
  }
  .sidebar-left {
    position: relative;
    left: -4vw;
    transform: translate(-20vw, 0);
  }
  .sidebar-left1 {
    position: relative;
    left: 50%;
    margin-top: 13%;
    margin-bottom: 1em;
    transform: scale(2) translate(-50%, 0);
  }
  .sidebar-right {
    position: relative;
    right: 0vw;
    transform: translate(-50vw, 0);
  }

  img {
    display: none;
  }
}
